NEXT_PUBLIC_APP_NAME=Flex

NEXT_PUBLIC_CHAIN_ID=84532

NEXT_PUBLIC_RPC_URL=

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_OPENROUTER_API_URL=

OPENROUTER_API_KEY=

INFURA_API_KEY=

# SUPABASE_URL=
# SUPABASE_ANON_KEY=
# SUPABASE_SERVICE_ROLE_KEY=
# DATABASE_URL=